
body{
    background-color: grey;
    color:white;
     
}
.container {
    width: 90%;
    margin: 0;
}
.time-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: 100%;
    resize: none; 
    overflow: hidden; 
  }
  
  /*Color-coding styles */
  .past {
    background-color: #d3d3d3;
  }
  
  .present {
    background-color: #ff6961;
  }
  
  .future {
    background-color: #77dd77;
  }
  
  .container {
    color: blueviolet;
  }

.dtm {
    text-align: center;
}